body {
  margin: 0px;
  background: #AAAAFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  section#index {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  #just-a-slider {

    height: 60px;
    width: 740px;
    max-width: 80%;
    border-radius: 3px;
    margin: 20px auto;

    .handle {
      height: 60px;
      max-width: 20%;
      line-height: 60px;
      border-radius: 3px;
    }

    .value {
      padding: 0 0 0 5px;
      font-size: 30px;
      font-weight: bold;
    }
  }

  div#available {
    margin: 0 auto;
    margin-top: 50px;

    li {
      text-align: left;
    }
  }

  div#footer {
    margin-top: 50px;
  }

}

.dragdealer {
  position: relative;
  height: 30px;
  background: #EEE;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.dragdealer .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.dragdealer .disabled {
  background: #898989;
}